/* CSS declarations go here */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-color: rgba(227, 232, 152, 0.78) !important;
    font-family: "Montserrat", sans-serif!important;
}

/* ------------ navigation --------------- */

.navbar {
    height: 70px;
    padding: 0;
    border: none;
    border-radius: 0;
    margin: 0 0 25px 0;
    font-size: 27px;
    background-image: linear-gradient(to bottom, rgb(234, 255, 213), rgba(104, 192, 78, 0.92) 100%);
}

li{
    margin-right: 1.5em;
    margin-top: 7px;
/*    background: radial-gradient(
            ellipse farthest-corner,
            #e7e7e7 70%,
            darkgrey 30%);*/
}

li a:link{
    padding-top: 18px;
    border-radius: 15px;
    border-style: hidden;
    width: 5em;
    height: 55px;
    text-align: center;
    color: #888;
}

/* ------------------- ende ----------------- */


/* ------------ logo -------- */
#logo{
    width: 2.5em;
    height: 2.4em;
}

.logo-div{
    padding-top: 0;
    margin-top: 2px;
}

#geoGreen{
  margin-top: -3px;
}
/* ------------------- ende ----------------- */


/* ------------ login -------- */
.glyphicon{
  color: #337ab7;
  margin-right:5px;
}

.loginButt{
    width: 6em;
    height: 25px;
    border: 1px none;
    background: none;
    border-radius: 7px;
    font-size: 19px;
    margin-top: 1em !important;
}

.login-link-and-dropdown-list{
  margin-right: 6em;
}

/* ------------------- ende ----------------- */


/* ------------karte--------------- */

.sitediv{
    padding-left: 20px;
    padding-right: 20px;
}

.map {
    width: 98.5%;
    margin: 30px 15px 15px 15px;
    height: 80%;
    padding: 5px;
}

/* ------------------- ende ----------------- */

/* ------------ Popup --------------- */


form > h3 {
  margin-top: 0;
}

.leaflet-popup-content-wrapper{
  background-color: rgba(245, 247, 229, 0.89) !important;
  width: 32em;
  height: 40em;
  border: 2px solid darkgrey;
  overflow-x: auto;
}

  th > label{
  width: 8em;
  margin-bottom: .8em;
  margin-top: 8px;
}

#create{
  margin-top: 10px;
  margin-right: 5px;
  padding: 4px 8px 4px 8px;
}

#bearbeiten{
  margin-top: 8px;
  margin: auto 5px auto 60%;
  padding: 3px 7px 3px 7px;
}

.annehmen{
  margin-top: 8px;
  margin: auto 5px auto 60%;
  padding: 3px 7px 3px 7px;
}

#myFileInput{
  margin-bottom: 8px;
}

form > h3 {
  margin-left: 20%;
}

.leaflet-popup-close-button{
  margin: 5px 18px auto auto;
  color: #6D9CD2!important;
  font-size: 18px!important;
}

sup{
  color: red;
}

#zeiteinheit{
  margin-left: 5px;
  }

  #neccessary{
    font-size: 10px;
    margin: 0!important;
  }

  #img{
    height:200px;
    width:200px;
    margin: 4px 0 4px 0;
  }

/* ------------------- ende ----------------- */


/* ------------------Footer--------------- */
footer {
    height: 20px;
    background-image: linear-gradient(to bottom, rgba(116, 214, 87, 0.92), rgba(15, 114, 17, 0.76) 100%);
    margin-top: 15px;
    position: relative;
    bottom: 0 !important;
    font-size: 10px;
}

.left {
    width: 33%;
    float: left;
    padding: 2px 0 0 10px;
    margin: 0 auto 0 auto;
    text-align: left;
    color: black;
}

.center {
    width: 33%;
    float: left;
    padding: 2px 0 0 0;
    margin: 0 auto 0 auto;
    text-align: center;
    color: black;
}

.right {
    width: auto;
    float: right;
    padding: 2px 10px 0 0;
    margin: 0 auto 0 auto;
    text-align: right;
    color: #000000;
}
/* ------------------- ende ----------------- */
